<div class="card">
  <a [href]="kuMapLink"><img class="card-img-top" [src]="kuMapImagePath" alt="Koc University"></a>
</div>

<div class="row">
  <div class="col-md-6">
    <br>
    <h1>Adress</h1>
    <h3>Koç University Faculty of Engineering</h3>
    <p>
      <b>Mechanical Engineering Department</b>
      <br> Rumelifeneri Yolu, Koç Üniversitesi, Mühendislik Fakültesi, Eng Z07, 34450 Sarıyer/İstanbul/Türkiye
    </p>
  </div>
  <div class="col-md-6">
    <br>
    <h1>Contact</h1>
    <h3>Prof. Kerem Pekkan</h3>
    <p>

      <b>Office:</b> +90 212 338 1839
      <br>
      <b>Fax:</b> +90 212 338 15 48
      <br>
      <b>e-mail:</b> kpekkan@ku.edu.tr
      <br>
    </p>
  </div>

</div>