<div class="container" id="news">
  <h1 id="news-title">News</h1>
  <p>For recent news please see our <a href="https://www.facebook.com/pg/pekkan.lab/posts/">facebook page</a></p>
</div>

<div class="container">
  <div class="row">
    <!-- Left Col -->
    <div class="col-md-6">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F2407917245950070&width=500"
        width="500" height="173" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F2301470706594725&width=500"
        width="500" height="398" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F2094965663911898&width=500"
        width="500" height="491" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F2072352322839899&width=500"
        width="500" height="236" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1993474540727678&width=500"
        width="500" height="491" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1977566455651820&width=500"
        width="500" height="310" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1847036255371508&width=500"
        width="500" height="632" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1781722671902867&width=500"
        width="500" height="530" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1732961516778983&width=500"
        width="500" height="688" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1726095344132267&width=500"
        width="500" height="386" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1649445671797235&width=500"
        width="500" height="669" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1509090559166081&width=500"
        width="500" height="808" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1358529297555542&width=500"
        width="500" height="502" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1350565888351883%3A0&width=500"
        width="500" height="510" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1318909458184193&width=500"
        width="500" height="306" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1233247480083725&width=500"
        width="500" height="235" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1217384135003393&width=500"
        width="500" height="521" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1193375624070911&width=500"
        width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fvideos%2F1135880733153734%2F&show_text=1&width=560"
        width="500" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1132160273525780%3A0&width=500"
        width="500" height="738" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1090831960991945&width=500"
        width="500" height="417" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1073714542703687&width=500"
        width="500" height="273" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F992516017490207&width=500"
        width="500" height="537" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F979722685436207&width=500"
        width="500" height="688" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F973985406009935%3A0&width=500"
        width="500" height="224" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F969429546465521&width=500"
        width="500" height="173" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F927262830682193%3A0&width=500"
        width="500" height="351" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F922602214481588&width=500"
        width="500" height="254" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F911165132291963&width=500"
        width="500" height="192" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F910305622377914%3A0&width=500"
        width="500" height="613" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F904838829591260&width=500"
        width="500" height="211" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F892870190788124%3A0&width=500"
        width="500" height="593" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F870749326333544&width=500"
        width="500" height="192" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F870114846396992&width=500"
        width="500" height="605" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F805264369548707%3A0&width=500"
        width="500" height="395" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F797252787016532%3A0&width=500"
        width="500" height="594" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F778812702193874&width=500"
        width="500" height="726" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnotes%2Fpekkan-biofluid-mechanics-laboratory%2Fuseful-information-for-students%2F758014454273699%2F&width=500"
        width="500" height="257" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F757430457665432&width=500"
        width="500" height="530" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F757429397665538&width=500"
        width="500" height="192" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F564549706953509&width=500"
        width="500" height="236" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F564549396953540&width=500"
        width="500" height="192" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F544706005604546&width=500"
        width="500" height="230" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F544704485604698&width=500"
        width="500" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F534861833255630&width=500"
        width="500" height="231" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F584441214948804&width=500"
        width="500" height="536" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F522654031143077%3A0&width=500"
        width="500" height="465" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F518652471543233%3A0&width=500"
        width="500" height="508" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F518649328210214%3A0&width=500"
        width="500" height="472" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F481926011882546%3A0&width=500"
        width="500" height="613" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F481914335217047%3A0&width=500"
        width="500" height="614" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F457857114289436&width=500"
        width="500" height="191" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F481925011882646%3A0&width=500"
        width="500" height="594" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F451960418212439&width=500"
        width="500" height="173" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F437343469674134&width=500"
        width="500" height="191" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

    <!-- Rigt Col -->
    <div class="col-md-6">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F2248471931894603&width=500"
        width="500" height="612" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1925177550890711&width=500"
        width="500" height="479" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1892704230804710&width=500"
        width="500" height="707" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1751862861555515&width=500"
        width="500" height="633" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1641673329241136&width=500"
        width="500" height="582" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1626825427392593&width=500"
        width="500" height="549" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1579798562095280&width=500"
        width="500" height="502" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1490976020977535&width=500"
        width="500" height="530" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1424092330999238&width=500"
        width="500" height="569" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1391586100916528%3A0&width=500"
        width="500" height="543" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1295978633810609%3A0&width=500"
        width="500" height="585" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1279284958813310%3A0&width=500"
        width="500" height="633" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1193374434071030%3A0&width=500"
        width="500" height="669" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1153968291344978&width=500"
        width="500" height="192" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1136071176468023%3A0&width=500"
        width="500" height="689" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fvideos%2F1110436459031495%2F&show_text=1&width=341"
        width="500" height="900" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1090835160991625&width=500"
        width="500" height="217" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1073710866037388%3A0&width=500"
        width="500" height="348" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1056688414406300%3A0&width=500"
        width="500" height="483" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F1006613519413790&width=500"
        width="500" height="261" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F973852656023210&width=500"
        width="500" height="211" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F950879981653811&width=500"
        width="500" height="751" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F922603324481477&width=500"
        width="500" height="531" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F912039665537843&width=500"
        width="500" height="173" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F911141235627686%3A0&width=500"
        width="500" height="472" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F904839589591184&width=500"
        width="500" height="348" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F903053559769787&width=500"
        width="500" height="511" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F878098578931952&width=500"
        width="500" height="516" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F870817829660027&width=500"
        width="500" height="374" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fkocuniversity%2Fvideos%2F990271874326682%2F&show_text=1&width=560"
        width="500" height="445" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F805263889548755%3A0&width=500"
        width="500" height="472" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F805261746215636%3A0&width=500"
        width="500" height="496" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F777142675694210&width=500"
        width="500" height="310" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F757473864327758&width=500"
        width="500" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F757428817665596%3A0&width=500"
        width="500" height="652" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F748688158539662&width=500"
        width="500" height="163" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F564550226953457&width=500"
        width="500" height="173" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F544703532271460%3A0&width=500"
        width="500" height="633" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F532644970143983%3A0&width=500"
        width="500" height="584" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F526290320779448&width=500"
        width="500" height="491" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F520499291358551%3A0&width=500"
        width="500" height="613" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F518651284876685%3A0&width=500"
        width="500" height="651" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F518650464876767&width=500"
        width="500" height="192" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F873103279431482%3A0&width=500"
        width="500" height="502" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F481923785216102&width=500"
        width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F457857254289422%3A0&width=500"
        width="500" height="232" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F481920338549780%3A0&width=500"
        width="500" height="614" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpekkan.lab%2Fposts%2F451960138212467%3A0&width=500"
        width="500" height="594" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>


<div class="container" id="news">
  <h2 id="news-archive">Archived News</h2>
</div>

<ul>
  <li>Our 2015 manuscripts on are just updated, please see publications page. February 2015</li>
  <li>Dr. Pekkan serves at NIH panels</li>
  <li>Stay tuned! Pediatric Surgical Planning Technology will be available to serve pediatric cardiovascular surgeons
    and cardilogists via hemodyn.org (currently under construction) January 2015</li>
  <li>Berk Yigit joined our group and started his PhD, September 2014. Welcome Berk !</li>
  <li>Dr. Pekkan attended NSF - CAREER workshop at BMES 2014 as an invited lecturer</li>
  <li>Editorial appeared at European Journal of Cardiothoracic Surgery written by the leading pediatric cardiovascular
    surgeon Dr. de Leval (one of the founders of model congenital heart surgery) on our computational surgical
    planning
    studies</li>
  <li>William Kowalski and Dr. Kerem Pekkan are contributing to this years American Physical Society - Division of
    Fluid Dynamics Meeting on November 2013</li>
  <li>Dr. Pekkan will serve as an Associate Editor for BMES Journal Cardiovascular Engineering and Technology and
    Artificial Organs from Fall 2013</li>
  <li>New Course Bioinspired Engineering Design will be offered as a mini Spring 2014</li>
  <li>William Kowalski received the best poster award for his invited Presentation at the McGowan Meeting.</li>
  <li>Our group presented at the ASME Summer Bioengineering and European Society of Biomechanics Meetings, September
    2013</li>
  <li>Invited Talk at Unibersity of Florida on Embryonic Biomechanics</li>
  <li>Congratulations for Dr.Prahlad Menon for defending his PhD thesis and becoming a faculty at CMU-SYSU Program,
    August 2013</li>
  <li>William Kowalski, Nick Teslovich and Onur Dur published their computational growth model applied to embryonic
    aortic arch development.</li>
  <li>Prahlad Melon, received the Dowd Fellowship to study neonatal cannula jet flow dynamics, September 2011.</li>
  <li>Congratulations Dr. Onur Dur for succesfully defending his PhD thesis, May 2011.</li>
  <li>Dr. Tolga Coskun from Department of Vascular Surgery, Horst Schmidt Kliniken, Wiesbaden, Germany visited us
    (November 9-17, 2010) for intravascular surgical planning.</li>
  <li>A microscopy workshop for Pre-Kindergarden students is conducted by our group.</li>
  <li>Our unique three-dimensional, time-resolved particle image velocimetry system with both micro/macro measurement
    capability is installed in our lab and open to university wide use.</li>
  <li>Kerem Pekkan is a co-inventor of next-generation Fontan baffles for congenital heart defect surgeries <a
      class="nonblock" href="http://www.cmu.edu/biofluids/patent_web.pdf">US#7,811,244</a> issued Oct 12, 2010.</li>
  <li>William Kowalski (PhD student) and Nicholoas Teslowich (UG reseach student) presended two podium talks at the
    BMES 2010 annual meeting.</li>
  <li>Onur Dur (PhD student) received Graduate Biomedical Engineering Research Award, May 2010 at 6th International
    Conference on Pediatric Mechanical Circulatory Support Systems and Pediatric Cardiopulmonary Perfusion, Children's
    Hospital of Boston, Harvard Medical School, Boston, MA.</li>
  <li>Kerem Pekkan has been granted 2010 Faculty Early Career Development (CAREER) award by the <span
      id="u5553-49">National
      Science Foundation</span> for his proposal "CAREER: Internal Biofluid Dynamics in Embryonic Cardiovascular
    Development, Morphomechanics and Comparative Ontogeny"</li>
  <li>Graduate and undergraduate reseach opportunities are available in our lab for exciting projects as of January
    2010. Please contact Dr.Kerem Pekkan ASAP.</li>
  <li>Next semester (Spring 2010) <a class="nonblock"
      href="http://www.cmu.edu/biofluids/Biofluids_desciption.rtf">Biofluids
      Course</a> will have field trips to the Pittsburgh Aviary in addition to the Aquarium and workshops/visits. This
    course is an equal balance of cardiovascular fluid mechanics and biomimetic swimming/flying.</li>
  <li>Another outreach activity from our group. We were at ScienceTec at Carnegie Science Center with middle-school
    students (<a class="nonblock" href="http://www.cmu.edu/biofluids/outreach2009.html">Pictures</a>).</li>
  <li>Flow fileds in embryonic hearts are anlyzed using computational fluid dynamics at 3 early stages in
    collaboration
    with Prof.Fotis Sotiropoulos group (<a class="nonblock"
      href="http://www.cmu.edu/biofluids/kerem_aps_present2009s.pdf">Sneak
      preview slides</a>) at the APS/DFD 2009.</li>
  <li>Mikhail Lara and Onur Dur published in Artifical Organs</li>
  <li>Our group contributed to the ASME Summer Bioengineering Meeting and BMES 2009 Pittsburgh with five posters and
    two presentations.</li>
  <li>Mikail Lara presented his reseach work at the "<a class="nonblock"
      href="http://www.cmu.edu/uro/MoM/index.html">Meeting
      of the Minds</a>."</li>
  <li>Umit Danis successfully completed his MS thesis.</li>
  <li>Onur Dur received the best poster award at 4th CMU-Biomedical Engineering and Biotechnology Research Symposium.
  </li>
  <li>Kerem Pekkan will be teaching 42441 Cardiovascular Mechanics next semester, <a class="nonblock"
      href="http://www.cmu.edu/biofluids/Syllabus42441.pdf">link
      for syllabus</a>, December 3, 2008</li>
  <li>Our group had a nice presentation on fluid dynamics of micro-propulsion (for intravascular robots) at 61st
    Annual
    Meeting of the APS Division of Fluid Dynamics in collaboration with Prof. Sitti group, December 1, 2008</li>
  <li>Mikail Lara won the competitive CMU-SURG grant and continues his undergraduate research studies</li>
  <li>Onur Dur presented his recent studies on Fontan hemodynamics at the BMES conference through a travel award from
    Biomedical Engineering Society</li>
  <li>Two important papers defining non-dimensional characteristic parameters and cardiac output sensitivity of
    surgical resistances accepted on single-ventricle hemodynamics (please visit <a class="nonblock"
      href="http://www.cmu.edu/biofluids/publications.html">publications</a>).</li>
  <li>Yajuan Wang successfully passed her PhD qualification exam.</li>
  <li>Kerem Pekkan had a podcast interview posted at <a class="nonblock"
      href="http://www.regenerativemedicinetoday.com/cblog/index.php">Regenerative
      Medicine Today</a></li>
  <li>Kerem Pekkan presented at Koc University, Turkiye</li>
  <li>Fetal aortic arch studies are presented at 16th European Biomechanics Conference, Lucerne.</li>
  <li>One day outreach activity is organized and conducted by our group with 10 Science Teachers (from suburban, rural
    and urban Pittsburgh schools) on Biomedical Engineering, <a class="nonblock"
      href="http://www.cmu.edu/biofluids/lab_pictures.html">Pictures</a></li>
  <li>Yajuan Wang attended Caltech Graduate Student Workshop and presented at ASME 2008 Summer Bioengineering
    Conference</li>
</ul>