<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3" id="logo">
          <br>
          <img [src]="ku_logo" alt="KU-Logo" id="ku-logo" style="width:100%"> 
          <span>
              Koç Üniversitesi Mühendislik
              <br> Fakültesi Rumelifeneri Yolu 34450
              <br> Sarıyer İstanbul Türkiye 
              <br> engineering@ku.edu.tr 
              <br> Tel: +90 212 338 17 48 
              <br> Fax: +90 212 338 11 73
              <br>
          </span>
        </div>
  
        <div class="col-md-5" id="left">
          <br>
          <h5>Information Request</h5>
          <input class="form-control mr-sm-2" type="search" placeholder="Enter your email here" aria-label="Enter your email here">
          <button class="btn btn-outline-light" type="submit" id="submit-btn">Submit</button>
  
  
        </div>
  
        <div class="col-md-2" id="center">
  
          <br>
          <h5>Links</h5>
          <span>
            <a href="#" class="alert-link"> Home </a>
            <br> <a routerLink="research" class="alert-link"> Research </a>
            <br> <a routerLink="people" class="alert-link"> People </a>
            <br> <a routerLink="publications" class="alert-link"> Publications </a>
            <br> <a routerLink="contact" class="alert-link"> Contact </a>
          </span>
        </div>
  
        <div class="col-md-2" id="right">
          <br>
          <h5>BCM</h5>
          <span>
            <a href="https://www.facebook.com/pekkan.lab" class="alert-link"> Facebook </a>
            <br> <a href="https://www.linkedin.com/in/kerempekkan" class="alert-link"> Linkedin </a>
            <br> <a href="https://scholar.google.com.tr/citations?user=iMYv2bAAAAAJ&hl=en" class="alert-link"> Google Scholar </a>
            <br> <a href="https://www.researchgate.net/profile/Kerem_Pekkan" class="alert-link"> Research Gate </a>
            <br> <a href="https://eng.ku.edu.tr/ekibimiz/personel-detay/?user=kpekkan" class="alert-link"> Koç University </a>
          </span>
        </div>
      </div>
  
      <br>
    </div>
  </footer>