<header class="masthead">
  <!-- <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-md w-100 mb-3"> -->
  <nav class="navbar fixed-top navbar-expand-md w-100 mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav text-mg-center justify-content-md-center w-100">

        <li class="nav-item">
          <a class="nav-link" routerLink=""> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="research"> Research </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="people"> People </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="publications"> Publications </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact"> Contact </a>
        </li>

      </ul>
    </div>
  </nav>
</header>