/* .nav-link {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    width: 10em;
} */

/* a {
    color: rgba(243, 243, 243, 0.9);
}

a:hover {
    color: lightblue;
}

.navbar {
    background-color: rgba(50, 68, 92, 0.94);
} */