<div class="container">

  <br>
  <div class="row">
    <div class="col-md-4" class="img">
        <img class="card-img-top" [src]='erc' alt="Card image cap">
    </div>
    <div class="col-md-8">
        <h4><b>ERC</b></h4>
        <b>Project Name:</b> Vascular Growth <br>
        <b>Project No:</b> 307460
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-md-4" class="img">
        <img class="card-img-top" [src]='tubitak' alt="Card image cap">
    </div>
    <div class="col-md-8">
        <h4><b>TÜBİTAK</b></h4>
        <b>Project Name:</b> Çocuk ve Yenidoğan Hastalara Özel, Ameliyat Öncesi Bilgisayar Destekli Kalp Damar Cerrahisi Biyomekanik Planlama ve Yama Kondüit Tasarım <br>
        <b>Project No:</b> 115E690


    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-md-4" class="img">
        <img class="card-img-top" [src]='embo' alt="Card image cap">
    </div>
    <div class="col-md-8">
        <h4><b>EMBO</b></h4>
        <b>Project Name:</b> EMBO Installation Grant <br>
        <b>Project No:</b> 2533
    </div>
  </div>
</div>