<h3>Graduate Students</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Degree</th>
      <th>Candidate</th>
      <th>Thesis Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of grads">
      <td> {{member.date}} </td>
      <td> {{member.degree}} </td>
      <td> {{member.candidate}} </td>
      <td> {{member.thesisTitle}} </td>
    </tr>
  </tbody>
</table>

<h3>Graduate Thesis Committees</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Degree</th>
      <th>Candidate</th>
      <th>Thesis Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of committees">
      <td> {{member.date}} </td>
      <td> {{member.degree}} </td>
      <td> {{member.candidate}} </td>
      <td> {{member.thesisTitle}} </td>
    </tr>
  </tbody>
</table>

<p>
  <strong>November 2002 – January 2007:</strong> Co-supervised two research groups at Georgia Tech Biomedical Department, each having
  ~6 graduate students
</p>

<h3>
  Post-Doctoral Supervisor and Contract Employees Supported by Research Contracts
</h3>

<table class="employees">
  <thead>
    <tr>
      <th>Duration</th>
      <th>Fellow</th>
      <th>Topic of Study</th>
      <th>Current Employment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of employees">
      <td> {{member.duration}} </td>
      <td> {{member.fellow}} </td>
      <td> {{member.study}} </td>
      <td> {{member.current}} </td>
    </tr>
  </tbody>
</table>