<div class="people-container">

    <div class="row d-flex justify-content-around">
      <div class="card">
        <img class="card-img-top" [src]="erhanImagePath" alt="Erhan Ermek">
        <div class="card-body">
          <h5 class="card-title">Erhan Ermek</h5>
          <p class="card-text">Research Assistant</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#erhanErmek">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="erhanErmek" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Erhan Ermek</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Erhan Ermek received his M.Sc.degree in Department of Biomedical Engineering from Baskent University in
                2010. He is currently
                working as a senior research engineer at Depertment of Mechanical Engineering, Koc University. His
                research
                interests are: Artifical heart, oxygenators, mass sensitive transducers such as cantilever and QCM,
                biosensors,
                embedded system design and development.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="merveImagePath" alt="Merve Çelik">
        <div class="card-body">
          <h5 class="card-title">Merve Çelik</h5>
          <p class="card-text">Research Assistant</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#merveCelik">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="merveCelik" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Merve Çelik</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                I am studying on how extracellular matrix of aortic arches response to altered hemodynamic conditions in
                the chick embryo.
                I am also performing optimization of in ovo electroporation on aortic arch for some specific gene
                silencing.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="mohammadImagePath" alt="Mohammad Rezaeimoghaddam">
        <div class="card-body">
          <h5 class="card-title">Mohammad Rezaeimoghaddam</h5>
          <p class="card-text">PhD Student</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mohammadRezaeimoghaddam">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="mohammadRezaeimoghaddam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mohammad Rezaeimoghaddam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                I am currently working on: Computational Fluid Dynamics and hemodynamics, cardiovascular mechanics,
                pre-surgical planning,
                fluid structure interaction, large-scale simulation on high performance (HPC) systems and stress
                analysis.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="samaneImagePath" alt="Samane">
        <div class="card-body">
          <h5 class="card-title">Samane Lashkarinia</h5>
          <p class="card-text">PhD Student</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#samane">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="samane" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Samane Lashkarinia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                I am doing my PhD in Pekkan bio-fluids research Lab.
                I work in computational studies group.
                I collaborate in pre-surgical planning framework for pediatric congenital heart defect patients.
                We interact with cardiovascular surgeons and do virtual surgery in computer before the real surgery.
                We predict hemodynamic and structural performance of the post-operative vasculature for various surgical
                configurations and come up with a recommendation for the surgeons.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="jamilIagePath" alt="Jamil">
        <div class="card-body">
          <h5 class="card-title">Dr. Muhammad Jamil</h5>
          <p class="card-text">Post Doc</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jamil">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="jamil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dr. Muhammad Jamil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                Dr. Muhammad Jamil received his Ph.D. degree from Nanyang Technological University in 2014. He worked as
                postdoctoral research fellow in NUS till Dec 2016. Was actively involved in development of a novel method
                to quantify mitral regurgitation in the human heart. Worked collaboratively with clinicians, surgeons and
                peer researchers on acquisition, development and analysis of the novel algorithm. Was actively involved
                in simulation and experimental validation of the cardiovascular flows relating to brain, embryonic flows
                and human heart. He joined Koc University Biofluids Lab in Mechanical Engineering Department in Jan 2017.
                The scope of research involves simulation and experimental validation of cardiovascular flows, surgical
                planning, analysis and development of robust cardiovascular medical devices tailored for optimal
                performance in clinical settings.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="idilImagePath" alt="Idil">
        <div class="card-body">
          <h5 class="card-title">Ayşe İdil Çakıroğlu</h5>
          <p class="card-text">Post Doc</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#idil">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="idil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ayşe İdil Çakıroğlu </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                Ayşe İdil Çakıroğlu received her PhD in Biological Sciences Department from Middle East Technical
                University in 2013. She is responsible for administration of the group projects and research team. She
                also assists immunohistochemical analyses. Her research interests are: Immunohistochemistry, comfocal
                microscopy, paleolimnology, lake ecology and climate change.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="cansuImagePath" alt="Cansu">
        <div class="card-body">
          <h5 class="card-title">Cansu Karakaya</h5>
          <p class="card-text">Research Assistant</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cansu">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="cansu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cansu Karakaya </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                I am currently working on the effects of hemodynamics on embryonic great vessel development, particularly
                the aortic arch arteries. I am using RT-qPCR and histological techniques to determine gene and protein
                expressions of important biological pathways for asymmetric aortic arch remodeling. In addition, I am
                conducting cell isolation experiments to have primary cardiomyocyte culture.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="rezaImagePath" alt="Reza">
        <div class="card-body">
          <h5 class="card-title">Reza Rasooli</h5>
          <p class="card-text">PhD. Student</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reza">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="reza" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reza Rasooli </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                Design and flow analysis of aortic cannula through time-resolved particle image velocimetry
                Design, fabrication and performance assessment of a microfluidic platform for high resolution
                spatiotemporal multi-odor delivery for sensory processing evaluation of navigating vertebrates.
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="bilgesuImagePath" alt="Bilgesu">
        <div class="card-body">
          <h5 class="card-title">Bilgesu Çakmak</h5>
          <p class="card-text">PhD. Student</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bilgesu">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="bilgesu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bilgesu Çakmak </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                ...
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="senolImagePath" alt="Senol">
        <div class="card-body">
          <h5 class="card-title">Şenol Pişkin</h5>
          <p class="card-text">Post Doc</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#senol">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="senol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Şenol Pişkin </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                Biomedical Engineering, Computational Science, High Performance Computing, Entrepreneurship
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img-top" [src]="gokceImagePath" alt="Gokce">
        <div class="card-body">
          <h5 class="card-title">Gökçe Nur Türkmen</h5>
          <p class="card-text">PhD Student</p>
        </div>
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#senol">
          Info
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="senol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
  
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Gökçe Nur Türkmen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
  
              <div class="modal-body">
                Biomedical Engineering, Computational Science, High Performance Computing, Entrepreneurship
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
  
  
  
  
  
  
    </div>
  
  </div>