.container {
    margin-top: 5em;
    margin-bottom: 5em;
}

/* .bfapp-container {
    min-height: 100%;
    position: relative;
}

app-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:300px;
 } */