<div class="container">
  <div class="row">
    <div class="col-md-10" id="left">
      <h4>Computational Bloodflow Dynamics</h4>
      <p>
        Computational fluid dynamics (CFD) is a well-established tool used in engineering for long time. Bioengineers
        have adopted CFD to study complex physiological flows in fields such as cardiovascular medicine. We are using
        CFD-based techniques to build complex computer representations of the cardiovascular system in health and
        disease. Our aim is to use CFD for enhancing diagnostic assessment, to predict physiological responses to
        intervention and compute previously unmeasurable hemodynamic parameters.
      </p>
    </div>
    <div class="col-md-2" id="right">
      <img class="card-img-top" [src]='img_1' style="width:100%" alt="Card image cap">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4" id="left">
      <img class="card-img-top" [src]='img_2' style="width:100%" alt="Card image cap">
    </div>
    <div class="col-md-8" id="right">
      <h4>Showing the blood flow and pressure distribution of the hearts in the computer environment</h4>
      <p>
        In the TUBITAK supported projects, we developed a model that brings high surgical experience for children's
        preoperative heart surgery and patented our methods for predicting the blood flow and mechanical performance of
        possible surgical alternatives. Our methods will allow for the implementetion of patient-specific, high-bodily
        treatment methods with a careful consideration of the patiente's genetic infrastructure.
      </p>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-9" id="left">
      <h4>Three dimensional vessels and blood cells imaging in live transgenic zebra fish embryos specially designed
        for vascular biology.</h4>
      <p>
        Finally, studies to understand the mechanism of the integrated operation of the cardiovascular system with the
        nervous system continue with
        genetically engineered zebrafish and mouse models. The fact that our studies reach the patient's bed will
        create great changes especially in the treatment of chronic heart diseases.
      </p>
    </div>
    <div class="col-md-3" id="right">
      <img class="card-img-top" [src]='img_3' style="width:100%" alt="Card image cap">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-4" id="left">
      <img class="card-img-top" [src]='img_2' style="width:100%" alt="Card image cap">
    </div>
    <div class="col-md-8" id="right">
      <h4>Soft Tissue Engineering</h4>
      <p>
        Congenital heart defects (CHD) are structural problems arising from abnormal formation of heart or major blood
        vessels, and the most common cause of infant death from birth defects. We are interested to understand the
        mechanism of CHD, particularly caused by abnormal remodeling of blood vessels, and its relation with mechanical
        factors. We looked at the relation between hemodynamics, growth and gene expression in right vitelline artery
        and aortic arches of native chick embryos (Goktas et al. 2016, Karakaya et al. 2018). Moreover, we perform
        alterations in mechanical loading conditions and genetics coupled with quantification and imaging analyses to
        focus on the disease progression and possible cures.
      </p>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-8" id="left">
      <h4>Cardiovascular Biology</h4>
      <p>
        In cardiovascular biology, a field in which we examine mechanisms of cardiovascular physiology and
        pathophysiology, we examine the structure and surfaces of different vessel samples including LIMA (Left Internal
        Mammary Artery), RIMA (Right Internal Mammary Artery), VSM (Vena Saphena Magna) and karotid artery obtained from
        various cardiac patients. In this study, SEM (Scanning Electron Microscopy) analysis of native arterial and
        venous grafts was performed in 54 patients with off-pump coronary artery bypass graft. The grafts used in the
        bypass operation and the patient risk groups were compared and the effect of thrombogenic involvement of 2
        different solution concentrations used in graft preparation was also investigated. Moreover, we are working on
        the process of visualization of these vessel samples in TEM (Transmission Electron Microscope) for the
        investigation of intracellular structure and materials.
      </p>
    </div>
    <div class="col-md-4" id="right">
      <img class="card-img-top" [src]='img_3' style="width:100%" alt="Card image cap">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-4" id="left">
      <img class="card-img-top" [src]='img_2' style="width:100%" alt="Card image cap">
    </div>
    <div class="col-md-8" id="right">
      <h4>Cardiovascular Devices</h4>
      <p>
        Cardiovascular Devices are used to diagnose, monitor or treat heart disease and related health problems. These
        devices can be listed as implantable sensors, pacemakers, stents and, Ventricular assist devices (VADs). In our
        research group, we focused on VADs used in single ventricle congenital heart disease. A novel passive device
        comprising an aortic turbine coupled with a venous pump, namely iATVA has been designed and tested[1] as a
        potential treatment of Fontan patients. Computational Fluid Dynamics (CFD) optimization of iATVA is currently
        ongoing. Also, we currently work on novel polymeric artificial heart valves for Right Ventricular Outflow Tract
        Reconstruction (RVOT), performance optimization of these devices and novel manufacturing/implantation methods.
      </p>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-8" id="left">
      <h4>Presurgical Mechanics</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum
      </p>
    </div>
    <div class="col-md-4" id="right">
      <img class="card-img-top" [src]='img_3' style="width:100%" alt="Card image cap">
    </div>
  </div>


</div>