<div class="container">
  <div class="row">
    <div class="col-md-9" id="left">
      <h4>Showing the blood flow and pressure distribution of the hearts in the computer environment</h4>
      <p>
        In the TUBITAK supported projects, we developed a model that brings high surgical experience for children's preoperative heart surgery and patented our methods for predicting the blood flow and mechanical performance of possible surgical alternatives. Our methods will allow for the implementetion of patient-specific, high-bodily treatment methods with a careful consideration of the patiente's genetic infrastructure.
      </p>

    </div>
    <div class="col-md-3" id="right">
      <img class="card-img-top" [src]='img_1' style="width:100%" alt="Card image cap">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4" id="left">
      <img class="card-img-top" [src]='img_2' style="width:100%" alt="Card image cap">
    </div>
    <div class="col-md-8" id="right">
      <h4>Three dimensional vessels and blood cells imaging in live transgenic zebra fish embryos specially designed
        for vascular biology.</h4>
      <p>
        Finally, studies to understand the mechanism of the integrated operation of the cardiovascular system with the
        nervous system continue with
        genetically engineered zebrafish and mouse models. The fact that our studies reach the patient's bed will
        create great changes especially in the treatment of chronic heart diseases.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8" id="left">
      <h4>lorem ipsum title</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
    </div>
    <div class="col-md-4" id="right">
      <img class="card-img-top" [src]='img_3' style="width:100%" alt="Card image cap">
    </div>
  </div>


</div>