<div class="container" id="news">
  <h1 id="news-title">Outreach</h1>
  <p>Another mission of our reaserch group is to bring science to toddler</p>
</div>

<div class="outreach">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img [src]="outreach_1" style="width:100%" />
      </div>
      <div class="col-md-4">
        <img [src]="outreach_2" style="width:100%" />
      </div>
      <div class="col-md-4">
        <img [src]="outreach_3" style="width:100%" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img [src]="outreach_4" style="width:100%" />
      </div>
      <div class="col-md-4">
        <img [src]="outreach_5" style="width:100%" />
      </div>
      <div class="col-md-4">
        <img [src]="outreach_6" style="width:100%" />
      </div>
    </div>
  </div>
  <div class="outreach-text">
    <h3>Visiting Schools</h3>
    <ul>
      <li>
        12 March 2018 - Esayan High School
      </li>
      <li>
        10 February 2017 - MEF Okullari
      </li>
      <li>
        21 December 2016 - Ayazaga Ortaokulu
      </li>
      <li>
        04 November 2016 - Topkapi Levon Vartuhyan Ermeni Ortaokullari
      </li>
    </ul>

    <h3>Activities</h3>
    <ol>
      <li>
        Station: Medical Device Design
        <ul>
          <li>
            Blood cell damage
          </li>
          <li>
            PIV – Particle Image Velocimetry
          </li>
          <li>
            Biomaterials, artificial vessels
          </li>
          <li>
            Mechanical pulling experiment
          </li>
        </ul>
      </li>



      <li>
        Station: Surgery Planning
        <ul>
          <li>
            Virtual surgery planning with Sketchcad
          </li>
          <li>
            Investigating the 3D hearth model with Z-space
          </li>
          <li>
            Observing anatomical models from 3D printer
          </li>
        </ul>



      <li>
        Station: Tissue Engineering
        <ul>
          <li>
            Chick embryonic hearth and vessels
          </li>
          <li>
            Tissue sectioning and staining
          </li>
          <li>
            Confocal microscopy
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
